<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>


	<div class="card m-2">
		<div class="class-header bg-info">
			<h3>Crear Baño</h3>
		</div>
		<div class="card-body">

			<form th:action="@{/banios/crear}" th:object="${banio}" method="post" class="m-4" >

				<div class="mb-3">
					<label for="nombre" class="form-label">Nombre</label>
					<input type="text" th:field="*{nombre}"  class="form-control" id="nombre">
				</div>
				<div class="mb-3">
					<label for="descripcion" class="form-label">Descripcion</label>
					<textarea class="form-control" th:field="*{descripcion}" id="descripcion"  rows="3"></textarea>
				</div>
				<div class="mb-3">
					<div class="form-check">
						<input class="form-check-input" th:field="*{activo}" type="checkbox" id="activo">
						<label class="form-check-label">
							Activo
						</label>
					</div>
				</div>
				<div class="mb-3">
					<label for="fecha" class="form-label">Fecha</label>
					<input type="date" th:field="*{fecha}"  class="form-control" id="fecha">
				</div>
				<div class="mb-3">
					<label for="zona" class="form-label">Zona</label>
					<input type="text" th:field="*{zona}" class="form-control" id="zona">
				</div>
				<div class="mb-3">
					<label for="sexo" class="form-label">Sexo</label>
					<input type="text" th:field="*{sexo}" class="form-control" id="sexo">
				</div>

				<div class="">
					<input type="submit" class="btn btn-primary" value="Guardar" />
				</div>

			</form>
		</div>
	</div>
	<header>

	</header>

	<div class="container">

	</div>


	<footer>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
</body>

</html>