<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>UNLa</title>
  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/modern-business.css" rel="stylesheet" />
</head>

<body>
<!-- Page Content -->
<div class="container">
  <div class="jumbotron">
    <h1 class="display-5">Editar Estacionamiento</h1>
    <form th:object="${estacionamiento}" th:action="@{/estacionamiento/{id}/update(id=${estacionamiento.idDispositivo})}" method="post">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" th:value="${estacionamiento.nombre}" />
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" th:value="${estacionamiento.descripcion}" />
      </div>
      <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
  </div>
</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>