<body>
<h1>Lista de Eventos</h1>


<header>

</header>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">FechaHora</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Dispositivo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cl:${lista}">

      <th scope="row" th:text="${cl.idEvento}"></th>
    <th scope="row" th:text="${cl.fechaHora}"></th>
      <th scope="row" th:text="${cl.descripcion}"></th>
      <th scope="row" th:text="${cl?.dispositivo?.nombre}"></th>
    </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <div class="row mb-3">
    <div class="col">
      <form th:action="@{/eventos/filtrar}" method="post">
        <div class="input-group">
          <select class="form-select" name="dispositivoId">
            <option value="">Todos los dispositivos</option>
            <!-- Aquí debes iterar sobre los dispositivos disponibles y generar las opciones -->
            <option th:each="dispositivo : ${listaDispositivos}" th:value="${dispositivo.idDispositivo}" th:text="${dispositivo.nombre}"></option>
          </select>
          <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<footer>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>